<!DOCTYPE html>

{% load staticfiles %}

<html>
    <head>
        <title>{% block title %}My amazing site{% endblock %}</title>
        <link rel="stylesheet" media="screen" href="{% static 'jukebox/stylesheets/bootstrap.min.css' %}">
        <link rel="stylesheet" media="screen" href="{% static 'jukebox/stylesheets/jquery-ui.min.css' %}">
        <link rel="stylesheet" media="screen" href="{% static 'jukebox/stylesheets/main.css' %}">
        <link rel="stylesheet" href="{% static 'jukebox/javascript/themes/default/style.min.css' %}" />
        <link rel="shortcut icon" type="image/png" href="{% static 'jukebox/images/favicon.png' %}">
        <script src="{% static 'jukebox/javascript/jquery.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'jukebox/javascript/bootstrap.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'jukebox/javascript/jquery-ui.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'jukebox/javascript/jsrender.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'jukebox/javascript/jstree.js' %}" type="text/javascript"></script>
	<script src="{% url 'js_reverse' %}" type="text/javascript"></script>
    </head>
    <body>
        <!-- Nav tabs -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <ul class="nav nav-pills" role="tablist">
                <li role="presentation" {% if page_id == "index" %} class="active" {% endif %}><a href="{% url 'jukebox:index' %}">Now Playing</a></li>
                <li role="presentation" {% if page_id == "queue" %} class="active" {% endif %}><a href="{% url 'jukebox:queue' %}">Queue</a></li>
                <li role="presentation" {% if page_id == "select_folders" %} class="active" {% endif %}><a href="{% url 'jukebox:select_folders' %}">Select Folders</a></li>
                <li role="presentation" {% if page_id == "import" %} class="active" {% endif %}><a href="{% url 'jukebox:import' %}">Import</a></li>
                <li role="presentation" {% if page_id == "upload" %} class="active" {% endif %}><a href="{% url 'jukebox:upload' %}">Upload</a></li>
                <li role="presentation"><a class="play" href="{{ stream_url }}"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></a></li>
            </ul>
        </nav>

        <div id="main" class="container-fluid">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}        

        {% block content %}{% endblock %}
        </div>
    </body>
</html>
