<!DOCTYPE html>

{% load staticfiles %}

<html>
    <head>
        <title>{% block title %}My amazing site{% endblock %}</title>
        <link rel="stylesheet" media="screen" href="{% static 'jukebox/stylesheets/bootstrap.min.css' %}">
        <link rel="stylesheet" media="screen" href="{% static 'jukebox/stylesheets/jquery-ui.min.css' %}">
        <link rel="stylesheet" media="screen" href="{% static 'jukebox/stylesheets/main.css' %}">
        <link rel="stylesheet" href="{% static 'jukebox/javascript/themes/default/style.min.css' %}" />
        <link rel="shortcut icon" type="image/png" href="{% static 'jukebox/images/favicon.png' %}">
        <script src="{% static 'jukebox/javascript/jquery.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'jukebox/javascript/bootstrap.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'jukebox/javascript/jquery-ui.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'jukebox/javascript/jsrender.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'jukebox/javascript/jstree.js' %}" type="text/javascript"></script>
	<script src="{% url 'js_reverse' %}" type="text/javascript"></script>
    </head>
    <body>
        <!-- Nav tabs -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <ul class="nav nav-pills" role="tablist">
                <li role="presentation" {% if page_id == "index" %} class="active" {% endif %}><a href="{% url 'jukebox:index' %}">Now Playing</a></li>
                <li role="presentation" {% if page_id == "queue" %} class="active" {% endif %}><a href="{% url 'jukebox:queue' %}">Queue</a></li>
                <li role="presentation" {% if page_id == "select_folders" %} class="active" {% endif %}><a href="{% url 'jukebox:select_folders' %}">Select Folders</a></li>
                <li role="presentation" {% if page_id == "collections" %} class="active" {% endif %}><a href="{% url 'jukebox:collections' %}">Collections</a></li>
                {% if enable_upload %}
                <li role="presentation" {% if page_id == "upload" %} class="active" {% endif %}><a href="{% url 'jukebox:upload' %}">Upload</a></li>
                {% endif %}
                {% if player_has_play_url %}
                <li role="presentation"><a class="play" href="{{ stream_url }}"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span></a></li>
                {% endif %}
                {% if player_supports_pause %}
                <li role="presentation"><a class="play playing" id="play_button" href="#"><span class="glyphicon glyphicon-pause" aria-hidden="true"></span></a></li>
                {% endif %}
                {% if player_supports_volume %}
                <li class="dropdown">
                  <a data-toggle="dropdown" class="dropdown-toggle" href="#">Volume <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">
                        <div id="volume_slider"><div id="volume_slider_handle" class="ui-slider-handle"></div></div>
                        </a></li>
                  </ul>
                </li>
                {% endif %}
            </ul>
        </nav>

        <div id="main" class="container-fluid">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}        

        {% block content %}{% endblock %}
        </div>

        <script>
            function update_play_button(playing) {
                var icon = $("#play_button>span");
                if (playing) {
                    icon.removeClass("glyphicon-play");
                    icon.addClass("glyphicon-pause");
                    $("#play_button").addClass("playing");
                } else {
                    icon.removeClass("glyphicon-pause");
                    icon.addClass("glyphicon-play");
                    $("#play_button").removeClass("playing");
                }
            }

            function play_clicked(event) {
                if ( $("#play_button").hasClass("playing") ) {
                    $.get(Urls['jukebox:pause'](), function(data){
                        update_play_button(false);
                    });
                } else {
                    $.get(Urls['jukebox:resume'](), function(data){
                        update_play_button(true);
                    });
                };
            }

            $("#play_button").click(play_clicked);
            $.get(Urls['jukebox:is_playing'](), function(data){
                update_play_button(data.playing);
            });

            var handle = $("#volume_slider_handle");
            $("#volume_slider").slider({
                create: function() {
                    $.get(Urls['jukebox:get_volume'](), function(data){
                        //alert("Got volume: " + data.volume);
                        $("#volume_slider").slider("value", data.volume);
                        handle.text(data.volume);
                    });
                    //handle.text($(this).slider("value"));
                },
                slide: function(event, ui) {
                    handle.text(ui.value);
                    $.get(Urls['jukebox:set_volume'](ui.value), function(data){
                    });
                }
            });
        </script>

    </body>
</html>
