{% extends "jukebox/base.html" %}
<!-- vim: tabstop=8 expandtab shiftwidth=4 softtabstop=4 
-->

{% block title %}Hack Radio{% endblock %}   

{% block content %}

<div>

    <p>&nbsp;</p>

    <table id="queue" class="table table-striped">
        <thead>
        <tr><th colspan="1" width="5%"></th><th>Queue (drag and drop to rearrange)</th></tr>
        <tr id="current_folder"></td>
        </thead>
        <tbody>
        <!-- Filled by AJAX -->
        </tbody>
    </table>

</div>

<!-- Templates -->

{% verbatim %}
<script id="row-template" type="text/x-jsrender">
<tr class="queued_folder" data-folderid="{{:id}}"{{if now_playing}} id="current_folder"{{/if}}>
{{if now_playing}}
    <td class="stop_current_folder"><a href="#"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span></a></td>
{{else}}
    <td class="remove"><a href="#"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
{{/if}}
<td>{{:name}} ({{:path}})
  <small class="label label-info songs_button" 
        data-container="body"
        data-folderid="{{:id}}" data-toggle="popover" data-trigger="hover"         
        title="Songs in {{:name}}" data-html="true" data-content="To be Filled In">
        Songs
  </small>
</td>
</tr>
</script>

<script id="popover-template" type="text/x-jsrender">
    {{for songs}}
       {{:filename}}<br />
    {{/for}}
</script>
{% endverbatim %}

<script type="text/javascript">

function deselect_folder(event) {
    var folderid = $(this).parent().attr('data-folderid');
    $.get(Urls['jukebox:deselect_folder'](folderid), function(data){
        update_queue();
    });
}

function fill_song_popover(folderid) {
    $.get(Urls['jukebox:folder_songs'](folderid), function(data){
        var button = $(".songs_button[data-folderid='" + folderid + "']");
        var html = $("#popover-template").render(data);
        button.attr('data-content', html);
    });
}

function update_queue() {
  $.get("{% url 'jukebox:json_queue' %}", function(data){
        var new_queue_hash = data.hash
        if (new_queue_hash != current_queue_hash) {
            //alert("Queue changed");
            var table = $("table#queue");

            var now_playing_row = $("#row-template").render(data.current, 
                {"now_playing": true, "first": false, "last": false});
            table.find("#current_folder").replaceWith(now_playing_row);
            fill_song_popover(data.current.id);

            var html = "";
            $.each(data.queue, function(i,folder) {
                var first = (i == 0);
                var last = (i == data.queue.length - 1);
                var row = $("#row-template").render(folder, {"now_playing": false,
                "first": first, "last": last});
                html += row;
            });

            table.find("tbody").html(html);
            $.each(data.queue, function(i, item) {
                fill_song_popover(item.id);
            });
	    $('[data-toggle="popover"]').popover();

            current_queue_hash = new_queue_hash;
        }
    });
}

function stop_current_folder_click(event) {
  $.get(Urls['jukebox:skip_current_folder'](), function(data){
      setTimeout(update_queue, 500);
    });
}

$(document).ready( function() {
    current_queue_hash = ""

    $("#queue").on("click", ".stop_current_folder", stop_current_folder_click);
    $("#queue").on("click", "td.remove", deselect_folder);

    update_queue();
    setInterval(update_queue, 5000);

        // "items": "tr.queued_folder :not(.now_playing)",
    $("#queue tbody").sortable({
        "items": "tr:not(.now_playing)",
        "update": function(event, ui) {
            var sorted_ids = $("#queue tbody").sortable("toArray",{
                "attribute": "data-folderid"});
            var post_data = {
                "queue": sorted_ids,
                "csrfmiddlewaretoken": "{{ csrf_token }}"
            }
            $.post(Urls['jukebox:set_queue'](), post_data, function(data){
                // update_queue();
            });
        }
    });

});
</script>
{% endblock %}   
