{% extends "jukebox/base.html" %}
<!-- vim: tabstop=8 expandtab shiftwidth=4 softtabstop=4 
-->

{% block title %}Hack Radio{% endblock %}   

{% block content %}

<div>


  <p>&nbsp;</p>

        <table id="queue" class="table table-striped">
            <thead>
            <tr><th colspan="6" width="5%"></th><th>Folder path</th></tr>
            </thead>
            <tbody>
            <!-- Filled by AJAX -->
            </tbody>
        </table>

</div>

<!-- Templates -->

{% verbatim %}
<script id="row-template" type="text/x-jsrender">
<tr class="queued_folder" data-folderid="{{:id}}">
<td class="move_top"><a href="#"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a></td>
<td class="move_up"><a href="#"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></a></td>
<td class="remove"><a href="#"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
<td class="move_down"><a href="#"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a></td>
<td class="move_bottom"><a href="#"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></a></td>
<td>
  <button type="button" class="btn btn-info songs_button" 
        data-container="body"
        data-folderid="{{:id}}" data-toggle="popover" data-trigger="hover" 
        title="Songs in {{:name}}" data-html="true" data-content="To be Filled In">
        Songs
  </button>
</td>
<td>{{:name}} ({{:disk_path}})</td>
</tr>
</script>

<script id="popover-template" type="text/x-jsrender">
    {{for songs}}
       {{:filename}}<br />
    {{/for}}
</script>
{% endverbatim %}

<script type="text/javascript">

function move_folder_top(event) {
    folderid = $(this).parent().attr('data-folderid');
    $.get(Urls['jukebox:move_folder_top'](folderid), function(data){
        update_queue();
    });
}

function move_folder_up(event) {
    folderid = $(this).parent().attr('data-folderid');
    $.get(Urls['jukebox:move_folder_up'](folderid), function(data){
        update_queue();
    });
}

function move_folder_down(event) {
    folderid = $(this).parent().attr('data-folderid');
    $.get(Urls['jukebox:move_folder_down'](folderid), function(data){
        update_queue();
    });
}

function move_folder_bottom(event) {
    folderid = $(this).parent().attr('data-folderid');
    $.get(Urls['jukebox:move_folder_bottom'](folderid), function(data){
        update_queue();
    });
}

function deselect_folder(event) {
    folderid = $(this).parent().attr('data-folderid');
    $.get(Urls['jukebox:toggle_folder'](folderid), function(data){
        update_queue();
    });
}

function fill_song_popover(folderid) {
    $.get(Urls['jukebox:folder_songs'](folderid), function(data){
        button = $(".songs_button[data-folderid='" + folderid + "']");
        html = $("#popover-template").render(data);
        button.attr('data-content', html);
    });
}

function update_queue() {
  $.get("{% url 'jukebox:json_queue' %}", function(data){
        new_queue_hash = data.hash
        if (new_queue_hash != current_queue_hash) {
            //alert("Queue changed");
            table = $("table#queue");

            html = $("#row-template").render(data.queue);
            table.find("tbody").html(html);
            $.each(data.queue, function(i, item) {
                fill_song_popover(item.id);
            });
            $("td.move_top").click(move_folder_top);
            $("td.move_up").click(move_folder_up);
            $("td.move_down").click(move_folder_down);
            $("td.move_bottom").click(move_folder_bottom);
            $("td.remove").click(deselect_folder);
	    $('[data-toggle="popover"]').popover();
            current_queue_hash = new_queue_hash;
        }
    });
}

$(document).ready( function() {
    current_queue_hash = ""

    update_queue();
    setInterval(update_queue, 5000);
});
</script>
{% endblock %}   
