{% extends "jukebox/base.html" %}
<!-- vim: tabstop=8 expandtab shiftwidth=4 softtabstop=4 
-->

{% block title %}Hack Radio{% endblock %}   

{% block content %}

<div>

    <p>&nbsp;</p>

    <div id="tree" />

</div>

<!-- Modal dialogs -->

<div id="convert_modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Converting files to mp3...</h4>
      </div>
      <div class="modal-body">
      <!-- filled by Ajax -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Templates -->

{% verbatim %}
<script id="modal-body-template" type="text/x-jsrender">
    <div class="panel panel-default">
        <div class="panel-heading">Now converting</div>
        <div class="panel-body">
            {{for running}}
                <p>{{:filename}}</p>
            {{/for}}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Queued</div>
        <div class="panel-body">
            {{for queued}}
                <p>{{:filename}}</p>
            {{/for}}
        </div>
    </div>
</script>

<script id="folder-text-template" type="text/x-jsrender">
{{:name}} 
{{if selectable}}
<small class="label label-info songs_button" data-folderid="{{:id}}" 
      data-container="body"
      data-toggle="popover" data-trigger="hover" 
      title="Songs in {{:name}}" data-html="true" 
      data-content="To be Filled In">Songs</small>
{{/if}}
</script>

<script id="popover-template" type="text/x-jsrender">
    {{for songs}}
       {{:filename}}<br />
    {{/for}}
</script>
{% endverbatim %}

<script type="text/javascript">

function update_convert_queue() {
    $.get(Urls['jukebox:convert_status'](), function(data){
        var html = $("#modal-body-template").render(data);
        $(".modal-body").html(html);

        if (data.running.length == 0 && data.queued.length == 0) {
            $('#convert_modal').modal('hide')
            clearInterval(convert_queue_interval);
        }
    });
}

function fill_song_popover(folderid) {
    $.get(Urls['jukebox:folder_songs'](folderid), function(data){
        var button = $(".songs_button[data-folderid='" + folderid + "']");
        var html = $("#popover-template").render(data);
        button.attr('data-content', html);
    });
}

$(document).ready( function() {
    $('#tree').jstree({
        'plugins': ["wholerow", "state", "checkbox", "types", "conditionalselect"],
        'conditionalselect': function (node, event) {
            return node.original.selectable;
        },
        'checkbox': {
            'three_state': false,
            'visible': false
        },
        'types': {
            'root' : {
            },
            'folder' : {
            },
            'album' : {
                'icon': 'glyphicon glyphicon-music',
                'a_attr': {'class': 'tree_album'}
            }
        },
        'core' : {
            'multiple': true,
            'data': function(node, cb) {
                if (node.id==="#") {
                    $.get("{% url 'jukebox:json_roots' %}", function(data){
                        var roots = [];
                        $.each(data.roots, function(i, root) {
                            roots.push({
                                "text": root.name, 
                                "id": root.id,
                                "children": true, 
                                "selectable": false,
                                "type": "root"});
                        });
                        cb(roots);
                    });
                } else {
                    $.get(Urls['jukebox:folder_subdirs'](node.id), function(data){
                        var children = [];
                        $.each(data.children, function(i, item) {
                            children.push({
                                "text": $("#folder-text-template").render(item),
                                "id": item.id,
                                "children": item.has_children, 
                                "selectable": item.selectable,
                                "state": {
                                    "selected": item.selected
                                },
                                "type": item.selectable ? "album" : "folder"
                            });

                            if (item.selectable) {
                                var interval_id = setInterval(function(){
                                     // $("li#"+id).length will be zero until the node is loaded
                                     if($("li#"+item.id).length != 0){
                                         // "exit" the interval loop with clearInterval command
                                         clearInterval(interval_id)
                                         fill_song_popover(item.id);
                                        $('.songs_button[data-toggle="popover"]').popover();
                                      }
                                }, 5);
                            }
                        });
                        cb(children);
                    });
                    return ;
                }
            }
        }
    });
    $('#tree').on('select_node.jstree', function(e, data) {
        $.get(Urls['jukebox:select_folder'](data.node.id), function(data){
            if (data.converting) {
                $('#convert_modal').modal('show')
                update_convert_queue();
                convert_queue_interval = setInterval(update_convert_queue, 1000);
            }
        });
    });
    $('#tree').on('deselect_node.jstree', function(e, data) {
        $.get(Urls['jukebox:deselect_folder'](data.node.id), function(data) {
        });
    });
});
</script>
{% endblock %}   
