{% extends "jukebox/base.html" %}
<!-- vim: tabstop=8 expandtab shiftwidth=4 softtabstop=4 
-->

{% block title %}Hack Radio{% endblock %}   

{% block content %}

<div>

    <p>&nbsp;</p>

    <div align="right">
        <!-- <input type="text" id="search_box" value="" class="input"
        placeholder="Search..." style="margin:0em auto 1em auto; display:block;
        padding:4px; border-radius:4px; border:1px solid silver;"></input> -->
        <input type="text" id="search_box" value="" class="input" placeholder="Search..."></input>
    </div>
    <div id="tree" align="left" />

</div>

<!-- Modal dialogs -->

<div id="convert_modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Converting files to mp3...</h4>
      </div>
      <div class="modal-body">
      <!-- filled by Ajax -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div id="confirm_modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Confirm</h4>
      </div>
      <div class="modal-body">
          Are you sure you want to remove <span id="confirm_name">
              <!-- filled dynamically -->
          </span> and all subfolders?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="delete">Delete</button>
        <button type="button" class="btn" data-dismiss="modal">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<!-- Templates -->

{% verbatim %}
<script id="modal-body-template" type="text/x-jsrender">
    <div class="panel panel-default">
        <div class="panel-heading">Now converting</div>
        <div class="panel-body">
            {{for running}}
                <p>{{:filename}}</p>
            {{/for}}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Queued</div>
        <div class="panel-body">
            {{for queued}}
                <p>{{:filename}}</p>
            {{/for}}
        </div>
    </div>
</script>

<script id="folder-text-template" type="text/x-jsrender">
{{:name}} 
{{if selectable}}
<small class="label label-info songs_button" data-folderid="{{:id}}" 
      data-container="body"
      data-toggle="popover" data-trigger="hover" 
      title="Songs in {{:name}}" data-html="true" 
      data-content="To be Filled In">Songs</small>
{{/if}}
</script>

<script id="popover-template" type="text/x-jsrender">
    {{for songs}}
       {{:filename}}<br />
    {{/for}}
</script>
{% endverbatim %}

<script type="text/javascript">

function update_convert_queue() {
    $.get(Urls['jukebox:convert_status'](), function(data){
        var html = $("#modal-body-template").render(data);
        $(".modal-body").html(html);

        if (data.running.length == 0 && data.queued.length == 0) {
            $('#convert_modal').modal('hide')
            clearInterval(convert_queue_interval);
        }
    });
}

function fill_song_popover(folderid) {
    $.get(Urls['jukebox:folder_songs'](folderid), function(data){
        var button = $(".songs_button[data-folderid='" + folderid + "']");
        var html = $("#popover-template").render(data);
        button.attr('data-content', html);
    });
}

function fill_song_popover_wait(folderid) {
    var interval_id = setInterval(function(){
         // $("li#"+id).length will be zero until the node is loaded
         if($("li#"+folderid).length != 0){
             // "exit" the interval loop with clearInterval command
             clearInterval(interval_id)
             fill_song_popover(folderid);
             $('.songs_button[data-toggle="popover"]').popover();
          }
    }, 50);
}

$(document).ready( function() {
    $('#tree').jstree({
        'plugins': [
            "wholerow", "state", "checkbox", "types",
            "conditionalselect", "dnd", "contextmenu", "search"
        ],
        'conditionalselect': function (node, event) {
            return node.original.selectable;
        },
        'checkbox': {
            'three_state': false,
            'visible': false
        },
        "contextmenu": {
            "select_node": false,
            "items": function($node) {
                var tree = $("#tree").jstree(true);
                return {
                    "rename": {
                        "label": "Rename",
                        "action": function(obj) {
                            tree.edit($node, $node.original.name,
                                    function(node,status,cancelled) {
                                        var item = $node.original;
                                        item.name = node.text;
                                        new_text = $("#folder-text-template").render(item);
                                        tree.rename_node(node, new_text);
                                        fill_song_popover_wait(item.id);
                                        post_data = {
                                            "name": item.name,
                                            "csrfmiddlewaretoken": '{{ csrf_token }}'
                                        }
                                        $.post(Urls['jukebox:rename_folder'](item.id), post_data)
                                            .fail(function () {
                                                alert("Failed to rename");
                                                tree.refresh();
                                            });
                                    });
                        }
                    },
                    "remove": {
                        "label": "Remove",
                        "title": "Remove this folder AND ALL SUBFOLDERS",
                        "action": function(obj) {
                            $('#confirm_name').text($node.original.name);
                            $('#confirm_modal').modal({
                                'backdrop': 'static',
                                'keyboard': false
                            }).one('click', '#delete', function() {
                                tree.delete_node($node);
                                post_data = {
                                    "csrfmiddlewaretoken": '{{ csrf_token }}'
                                }
                                $.post(Urls['jukebox:delete_folder']($node.id), post_data);
                            });
                        }
                    },
                    "enqueue": {
                        "label": "Enqueue",
                        "title": "Enqueue this folder at the end of the queue",
                        "action": function(obj) {
                            tree.select_node($node);
                            $.get(Urls['jukebox:select_folder']($node.id), function(data){
                                if (data.converting) {
                                    $('#convert_modal').modal('show')
                                    update_convert_queue();
                                    convert_queue_interval = setInterval(update_convert_queue, 1000);
                                }
                            });
                        }
                    }
                };
            }
        },
        'types': {
            'root' : {
                'valid_children': ['folder', 'album']
            },
            'folder' : {
                'valid_children': ['folder', 'album']
            },
            'album' : {
                'icon': 'glyphicon glyphicon-music',
                'a_attr': {'class': 'tree_album'},
                'valid_children': []
            }
        },
        "state" : { 
            "filter" : function (k) { 
                // Do not restore selected state of nodes
                delete k.core.selected; 
                return k; 
            } 
        },
        'dnd': {
            'copy': false,
            'large_drop_target': true,
            'drag_selection': false
        },
        'search': {
            'ajax': function(str, cb, node_id) {
                get_data = {
                    "str": str,
                    "context": node_id
                }
                $.get(Urls['jukebox:search_folder'](), get_data, function(data){
                    // alert("Search result: " + data);
                    cb(data.matching_ids);
                });
            }
        },
        'core' : {
            'check_callback': true,
            'multiple': true,
            'data': function(node, cb) {
                if (node.id==="#") {
                    $.get("{% url 'jukebox:json_roots' %}", function(data){
                        var roots = [];
                        $.each(data.roots, function(i, root) {
                            roots.push({
                                "text": root.name, 
                                "name": root.name, 
                                "id": root.id,
                                "children": true, 
                                "selectable": false,
                                "type": "root"});
                        });
                        cb(roots);
                    });
                } else {
                    $.get(Urls['jukebox:folder_subdirs'](node.id), function(data){
                        var children = [];
                        $.each(data.children, function(i, item) {
                            children.push({
                                "text": $("#folder-text-template").render(item),
                                "name": item.name,
                                "id": item.id,
                                "children": item.has_children, 
                                "selectable": item.selectable,
                                "state": {
                                    "selected": item.selected
                                },
                                "type": item.selectable ? "album" : "folder"
                            });

                            if (item.selectable) {
                                fill_song_popover_wait(item.id);
                            }
                        });
                        cb(children);
                    });
                    return ;
                }
            }
        }
    });

    $('#tree').on('select_node.jstree', function(e, data) {
        $.get(Urls['jukebox:select_folder'](data.node.id), function(data){
            if (data.converting) {
                $('#convert_modal').modal('show')
                update_convert_queue();
                convert_queue_interval = setInterval(update_convert_queue, 1000);
            }
        });
    });

    $('#tree').on('deselect_node.jstree', function(e, data) {
        $.get(Urls['jukebox:deselect_folder'](data.node.id), function(data) {
        });
    });

    $('#tree').on('move_node.jstree', function (e, data) {
        $.get(Urls['jukebox:move_folder'](data.node.id, data.parent, data.position))
            .fail(function () {
                alert("Failed to move");
                data.instance.refresh();
            });
    })

    var search_timeout = false;
    $("#search_box").keyup(function() {
        if (search_timeout) {
            clearTimeout(search_timeout);
        }
        search_timeout = setTimeout(function() {
            var v = $("#search_box").val();
            $("#tree").jstree(true).search(v);
        }, 250);
    });

});
</script>
{% endblock %}   
