{% extends "jukebox/base.html" %}
<!-- vim: tabstop=8 expandtab shiftwidth=4 softtabstop=4 
-->

{% block title %}Hack Radio{% endblock %}   

{% block content %}

<div>

    <p>&nbsp;</p>

    <p>Upload a collection of mp3, flac, ogg, m4a or mpc audio files. The
    uploaded zip file should contain a number of directories containing music
    files. Deeper hierarchies are allowed.</p>

    <form action="{% url 'jukebox:upload' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
        {{ form.as_p }}
        </div>
        <input type="submit" class="btn btn-primary" value="Upload"></input>
    </form>

</div>

<!-- Modal dialogs -->

<div id="import_modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Importing music...</h4>
      </div>
      <div class="modal-body">
        <p>Importing music from <span id="modal_import_dir"><!--AJAX--></span>&hellip;
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}   
