[shout]
JUKEBOX_SHOUT_HOST = localhost
JUKEBOX_SHOUT_PORT = 8000
JUKEBOX_SHOUT_USER = source
JUKEBOX_SHOUT_PASSWORD = hackme
JUKEBOX_SHOUT_MOUNT = /hackradio.mp3
JUKEBOX_SHOUT_NAME = Hack Radio
JUKEBOX_SHOUT_GENRE = Unknown
JUKEBOX_SHOUT_URL = http://www.example.com
JUKEBOX_SHOUT_PUBLIC = 1

JUKEBOX_CACHE_DIR = /var/music/cached

JUKEBOX_STREAM_URL = http://www.example.com:8000/hackradio.mp3
