[jukebox]
JUKEBOX_SHOUT_HOST = localhost
JUKEBOX_SHOUT_PORT = 8000
JUKEBOX_SHOUT_USER = source
JUKEBOX_SHOUT_PASSWORD = hackme
JUKEBOX_SHOUT_MOUNT = /hackradio.mp3
JUKEBOX_SHOUT_NAME = Hack Radio
JUKEBOX_SHOUT_GENRE = Unknown
JUKEBOX_SHOUT_URL = http://www.example.com
JUKEBOX_SHOUT_PUBLIC = 1

JUKEBOX_CACHE_DIR = /var/music/cached
JUKEBOX_UPLOAD_DIR = /var/music/uploaded

JUKEBOX_STREAM_URL = http://www.example.com:8000/hackradio.mp3
JUKEBOX_CONVERT_CONCURRENCY = 4

# Choose SHOUT or LIBVLC
JUKEBOX_OUTPUT_MODULE = SHOUT

# File extensions to include in the database
# For LIBVLC output, these should be playable to VLC
# For SHOUT output, these should be readable by ffmpeg (with 
# a few special cases in jukebox/converter.py)

JUKEBOX_EXTENSIONS = mp3 flac ogg mpc m4a wav

FFMPEG_OPTIONS = -codec:a libmp3lame -qscale:a 2 -loglevel warning
