Source: hackradio
Section: net
Priority: optional
Maintainer: Jan-Pascal van Best <janpascal@vanbest.org>
Build-Depends: debhelper (>= 9), python, dh-python, dh-systemd (>= 1.3), quilt,
 dh-apache2, apache2-dev (>= 2.4), python-pip
Standards-Version: 3.9.6
#Vcs-Git: git://anonscm.debian.org/collab-maint/hackradio.git
#Vcs-Browser: http://anonscm.debian.org/cgit/collab-maint/hackradio.git
Homepage: https://github.com/hackradio/hackradio

Package: hackradio
Architecture: all
Depends: lsb-base (>= 3.1-13), ${python:Depends}, ${misc:Depends},
 libapache2-mod-wsgi, dbconfig-common, 
 default-mysql-client | virtual-mysql-client, 
 ucf (>=0.28),
 python-django, python-mysqldb, libjs-jquery (>= 1.11), libjs-jquery-ui,
 python-concurrent.futures,
 libjs-jquery-ui-theme-ui-lightness, libjs-bootstrap,
 libjs-jsrender,
 flac, ffmpeg, lame, musepack-tools, vorbis-tools,
 libvlc5, libshout3, vlc-nox
Recommends: ${misc:Recommends}
Suggests: default-mysql-server | virtual-mysql-server, icecast2
Description: Web application for a collaborative jukebox.
 hackradio is a web application that allows multiple people 
 to build a playlist of mp3 albums, stream it via an icecast server,
 rearrange the playlist, add albums, skip albums or songs, etc.
